@import url('fonts/font-awesome.css');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Rubik+Scribble&display=swap');



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: linear-gradient(-100deg, rgb(99, 69, 48), rgb(83, 46, 15), rgb(80, 27, 14));
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
  color: rgb(56, 36, 36);  */
  background-color: #331b1b;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: #000;
  text-decoration: none;
}

html,
body,
#root {
  height: 100%;
}

* {
  
  box-sizing: border-box;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 50% 0%;
	}
	100% {
		background-position: 0% 50%;
	}
}